<% form_action = ( state == :new ? "/post" : "/post/#{post.id}" ) %>
<% unless state == :new %>
<script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete?")) {
      window.location.href='/post/<%=post.id%>/delete';
    }
  }
</script>
<% end %>
<div class="post post_show">
  <form method="post" name="post" onsubmit="return onsubmitform();">
  <div class="post_header">
    <span class="post_title">Title : <input class="value" type="text" name="post[title]" value="<%= post_title(post)||"" %>" /></span>
  </div>
  <div class="post_contents">
    <span class="post_title">Post:</span><br />
    <textarea name="post[body]" class="value"><%= post.body||"" %></textarea>
    <div id="form_tags">
      <br />
      <br />
      <span class="post_title">Tags:</span> <input class="value tags" type="text" name="post[tags]" value="<%=(post.tags.map { |t| t.name }).join(", ")%>" /> <br /> <small>comma seperated</small>
    </div>
  </div>
  <div id="form_buttons">
  <% unless state == :new %>
    <input class="button button_delete" type="button" value="DELETE" onClick="javascript:confirmDelete();" /> &nbsp;
  <% end %>
    <input class="button" type="button" value="Cancel!" onClick="javascript:window.history.back();" /> &nbsp;
    <input class="button" type="submit" value="Preview!" onClick="javascript:this.form.action='<%=form_action%>/preview';" />
    <input class="button" type="submit" value="Save!" onClick="javascript:this.form.action='<%=form_action%>';" />
  </div>
</div>

