<div class="post post_show">
  <% if state == :new %>
    <form method="post" name="post" action="/post">
  <% else %>
    <form method="post" name="post" action="/post/<%= post.id %>">
  <% end %>
  <div class="post_header">
    <span class="post_title">Title : <input class="value" type="text" name="post[title]" value="<%= post_title(post)||"" %>" /></span>
  </div>
  <div class="post_contents">
    <span class="post_title">Post:</span><br />
    <textarea name="post[body]" class="value"><%= post.body||"" %></textarea>
    <div id="form_tags">
      <br />
      <br />
      Tags: <input class="tags" type="text" name="post[tags]" value="<%= post_tags(post)||"" %>" /> <br /> <small>comma seperated</small>
    </div>
  </div>
  <script>
    function confirmDelete() {
      if (confirm("Are you sure you want to delete?")) {
        window.location.href='/post/<%=post.id%>/delete';
      }
    }
  </script>
  <div id="form_buttons">
    <input class="button button_delete" type="button" value="DELETE" onClick="javascript:confirmDelete();" /> &nbsp;
    <input class="button" type="button" value="Cancel!" onClick="javascript:window.location.href='/'" /> &nbsp;
    <input class="button" type="submit" value="Save!" />
  </div>
</div>

