- form_action = ( state == :new ? "/post" : "/post/#{post.id}" )
- unless state == :new
  :javascript
    function confirmDelete() {
      if (confirm("Are you sure you want to delete?")) {
        window.location.href='/post/<%=post.id%>/delete';
      }
    }

.post.post_show
  %form{ :method => "post", :name => "post" }
    .post_header
      %span.post_title 
        Title: 
        %input{ :class => "value", :type => "text", :name => "post[title]", :value => "#{post_title(post)||''}" }
    .post_contents
      %span.post_title
        Post:
        %br
        %textarea{ :name => "post[body]", :class => "value" }
          = post.body||""
        #form_tags
          %br
          %span.post_title Tags:
          %input.value.tags{ :type => "test", :name => "post[tags]", :value => "#{post_tag_string(post.tags)}" }
          %br
          %small comma seperated
    #form_buttons
      - unless state == :new
        %input.button.button_delete{ :type => "button", "value" => "DELETE", :onclick => "javascript:confirmDelete();" }
      %input.button{ :type => "button", "value" => "Cancel!", :onclick => "javascript:window.history.back();" }
      %input.button{ :type => "submit", "value" => "Perview!", :onclick => "javascript:this.form.action='#{form_action}/preview';" }
      %input.button{ :type => "submit", "value" => "Save!", :onclick => "javascript:this.form.action='#{form_action}';" }

