!!! HTML
- navigation ||= :_nav_archive
- post ||= nil
- state ||= :index
- title = set_title_from_status(state, post)

%html{ :lang => "en-US" }
  %head
    %title
      = title
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=ISO-8859-1" }
    - if state == :index or state == :tag or state == :archive
      %meta{ :name => "keywords", :content => (Tag.all.map { |t| t.name }).join(",") }
    - if state == :show
      %meta{ :name => "description", :content => post.title }
      %meta{ :name => "keywords", :content => (post.tags.map { |t| t.name }).join(",") }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/ss/layout.css" }
    - if state == :show or state == :index
      :javascript
        var switchTo5x=true;
      %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "d70ec18a-3455-4f95-9c4c-43eb2d969408"});
    - unless settings.google_analytics.nil?
      = haml :_google_analytics
  %body
    #page
      #header
        %span.main_title
          = settings.title
        #top_links
          - unless authorized?
            %a{ :href => "/login" }login
          - else
            - unless state == :edit or state == :new
              - if state == :show
                %a{ :href => "/post/#{post.id}/edit" }edit post
                &nbsp;&nbsp;
              %a{ :href => "/post" }new post
              &nbsp;&nbsp;
          %a{ :href => "/" }home

      #page_body
        #content
          .posts
            = yield
        #nav
          - if state == :show or state == :index
            = haml :_share_this, :layout => false
          - begin
            = haml :_nav_tags, :layout => false
          - begin
            = haml navigation, :layout => false
        %br.clear_both

      #footer
        = haml :_footer, :layout => false

