<!DOCTYPE html>
<%
  navigation ||= :nav_archive
  post ||= nil
  state ||= :index
  title = if state == :preview 
            post["title"]
          elsif post.nil? or post.title.blank?
            settings.title
          else
            post_title(post)
          end
%>
<html lang="en-US">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="/ss/layout.css" />
    <% if state == :show or state == :index %>
      <script type="text/javascript">var switchTo5x=true;</script>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "d70ec18a-3455-4f95-9c4c-43eb2d969408"}); </script>
    <% end %>
  </head>
  <body>

    <div id="page">
      <div id="header">
        <span class="main_title"><%=settings.title%></span>
        <div id="top_links"> 
          <% unless authorized? %>   
            <a href="/login">login</a>
          <% else %>
            <% unless state == :edit or state == :new %>
              <% if state == :show %>
                <a href="/post/<%=post.id%>/edit">edit post</a>&nbsp; &nbsp; 
              <% end %>
              <a href="/post">new post</a>&nbsp; &nbsp; 
            <% end %>
          <% end %>
          <a href="/">home</a>
        </div>
      </div>

      <div id="page_body">
        <div id="content">
          <div class="posts">
            <%=yield%>
          </div>
          <!-- repeat posts -->
        </div>

        <div id="nav">
          <% if state == :show or state == :index %>
            <div id="share_this">
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
              <span class='st_linkedin_large' displayText='LinkedIn'></span>
              <span class='st_email_large' displayText='Email'></span>
            </div>
          <% end %>
          <!-- nav section -->
            <% begin %>
              <%= erb :nav_tags, :layout => false %>
            <% end %>
            <% begin %>
              <%= erb navigation, :layout => false %>
            <% end %>
          <!-- / nav section -->
        </div>
        <br class="clear_both" />
      </div>

      <div id="footer">
        <%= erb :footer, :layout => false %>
      </div>

    </div>

  </body>
</html>
