<%
  page_title ||= settings.default_title
  navigation ||= :nav_archive
  path ||= nil
%>
<html>
  <head>
    <title><%= page_title %></title>
    <link rel="stylesheet" type="text/css" href="/ss/main.css" />
  </head>
  <body>
    <div class="header">
      <h1><%=page_title%></h1>
      <div class="header_time"><%= path.nil? ? '&nbsp;' : time_display(path)%></div>
      <span class="clear" />
    </div>

    <div class="main">
      <div class="contents">
        <%=yield%>
      </div>

      <div class="nav">
        <%= erb navigation, :layout => false %>
      </div>
      <br class="clear" />
    </div>
  </body>
</html>
