<%
  navigation ||= :nav_archive
  post ||= nil
  state ||= :index
%>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel="stylesheet" type="text/css" href="/ss/main.css" />
  </head>
  <body>
    <div id="new_link">
    <% unless authorized? %>   
      <a href="/login">login</a>
    <% else %>
      <% if state == :show %>   
        <a href="/post/<%=post.id%>/edit">edit post</a>
      <% elsif state == :index %>
        <a href="/post">new post</a>
      <% end %>
    <% end %>
    &nbsp; &nbsp; <a href="/">home</a>
    </div>
    <div class="header">
      <h1><%=settings.title%></h1>
    </div>

    <div class="main">
      <div class="contents">
        <%=yield%>
      </div>

      <div class="nav">
        <% begin %>
          <%= erb navigation, :layout => false %>
        <% end %>
      </div>
      <br class="clear" />
    </div>
  </body>
</html>
