<%
  navigation ||= :nav_archive
  post ||= nil
%>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel="stylesheet" type="text/css" href="/ss/main.css" />
  </head>
  <body>
    <div id="new_link">
    <%unless request.path_info =~ /edit$/%>
      <% if (post and !post.nil? and post.id and !post.id.nil?) %><a href="/post/<%=post.id%>/edit">edit post</a><%else %><a href="/post">new post</a><%end%> | 
    <%end%>
    <a href="/">home</a>
    </div>
    <div class="header">
      <h1><%=settings.title%></h1>
    </div>

    <div class="main">
      <div class="contents">
        <%=yield%>
      </div>

      <div class="nav">
        <% begin %>
          <%= erb navigation, :layout => false %>
        <% end %>
      </div>
      <br class="clear" />
    </div>
  </body>
</html>
