- state ||= :index 
- state_class = set_state_class_from_state state

%div{ :class => "post #{state_class}" }
  .post_header
    %span.post_title 
      = post_link(post)
    .post_date
      = time_display(post)
  .post_contents
    = post_contents(post)
    - unless post.tags.nil? or post.tags.empty?
      %br
      %br
      Tags: 
      - post.tags.each do |tag|
        %span.tag_link<
          %a{ :href => "/tag/#{tag.name}" }<
            =tag.name
    - unless state == :index 
      -#TODO: so ugly
      - begin
        %br
        %br
        %center
          = erb :_post_ads, :layout => false
        %br
      - rescue
        -#don't error if doesn't exist
    - unless settings.disqus.nil? 
      %br
      %br
      - if state == :index
        = haml :_comment_count, :layout => false, :locals => { :post_path => post.title_path }
      - else
        = haml :_comments, :layout => false, :locals => { :post_path => post.title_path }

