<% 
  form_action = ( !defined?(post_id) ? "/post" : "/post/#{post_id}" ) %>

<%= erb :post_preview, :layout => false, :locals => { :post => post } %>

<div class="post post_show">
  <form method="post" name="post" onsubmit="return onsubmitform();">
  <input type="hidden" name="post[title]" value="<%=post["title"]%>" />
  <input type="hidden" name="post[body]" value="<%=post["body"]%>" />
  <input type="hidden" name="post[tags]" value="<%=post["tags"]%>" />
  <div id="form_buttons">
    <input class="button" type="button" value="Cancel!" onClick="javascript:window.history.back();" /> &nbsp;
    <input class="button" type="submit" value="Save!" onClick="javascript:this.form.action='<%=form_action%>';" />
  </div>
</div>

